<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% include "includes/header.html" %}
   <br>
    <form method="GET" action="{% url 'back:group_list' %}">
        <input type="date" name="date">
        <button type="submit">Поиск</button>
    </form>
  <br>
  <table border="1" style="font-size:20px;">
      {% for group in groups %}
        <tr>
          <td>
              {{ group.id }}
          </td>
            <td>
              {{ group.time|date:"H:i" }}
          </td>
            <td>
              {{ group.date }}
          </td>
        <td>
            <a href="{% url 'back:group_detail' group.id %}">Заглянуть внутрь</a>
        </td>

        <tr>
      {% endfor %}
  </table>

</body>
</html>