<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a href="{% url 'back:home' %}">← Обратно на домашнюю страницу</a>
  <table border="1" style="font-size:20px;">
      {% for group in groups %}
        <tr>
          <td>
              {{ group.id }}
          </td>
            <td>
              {{ group.time|date:"H:i" }}
          </td>
            <td>
              {{ group.date }}
          </td>
        <td>
            <a href="">Заглянуть внутрь</a>
        </td>

        <tr>
      {% endfor %}
  </table>

</body>
</html>