{% extends "base.html" %}
{% block title %}
    {{ student.name }}
{% endblock %}
{% block content %}
    Страница студента с ID {{ student.id }}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Добавить данные Ученика</button>
    </form>
<h1>Информация</h1>
<ul>

    <li>ID студента: {{ student.id }}</li>
    <li>Имя студента: {{ student.name }}</li>
    <li>Возраст студента: {{ student.age }}</li>
    {% if student.description %}
        <li>ОС от преподавателя: {{ student.description }}</li>
    {% else %}
        <li>ОС от преподавателя пока нет</li>
    {% endif %}
    <li>{{ student.recommended_direction }}</li>
    <li>{{ student.recommended_group }}</li>
    <li>Отзывчивость на уроке: {{ student.responsiveness }}</li>
    <li>ID Группы пробного урока: {{ student.group.id }}</li>
    <li>Инфо о родителях: {{ student.parents }}</li>
    {% if student.manager_description %}
        <li>Заметка менеджера: {{ student.manager_description }}</li>
    {% else %}
        <li>Заметка менеджера отсутствует</li>
    {% endif %}
</ul>
{% endblock %}