{% extends "base.html" %}
{% block title %}
    Все ученики
{% endblock %}
{% block content %}
  <h1>СПИСОК ВСЕХ УЧЕНИКОВ</h1>
  <ul>
    <form method="GET" action="{% url 'back:students_list' %}">
        <input type="text" name="name" placeholder="Введите имя ученика">
        <button type="submit">Поиск</button>
    </form>

    {% for student in students %}
      <li>{{ student.id }} {{ student.name }} <a href="{% url 'back:student_detail' student.id %}">Инфо</a></li>
    {% endfor %}

  </ul>
{% endblock %}